*{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
    

}

span{
    margin: 25px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 45px;
    
   
}
#li1{
    font-size: 12px;
    opacity: 0.5;
 
}
.div1{
    padding: 10px;
    margin: 0px 15px 0px 15px;
}
.nav-section{
   text-align: left;
   display: inline-block;
   min-width: 10rem;
   
 /*  border: 2px solid red ;*/
}
.nav-section ul{
    list-style: none;
    margin: 0px 15px 0px 15px; 
    /*border: 2px solid green ;*/
    display: inline-block;
 }

 .nav-section ul li {
    padding: 5px;
    
    
 }
 #li2{
    font-size: 20px;
 }
 
 #li3{
    font-size: 13px;
 }
 .hover-section{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out ;
    height: 0;
 }
 .nav-txt-store:hover~ .hover-section-store{
    height: 300px;
    visibility: visible;
    opacity: 1;
 }
 .nav-txt-mac:hover~ .hover-section-mac{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-ipad:hover~ .hover-section-ipad{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-iphone:hover~ .hover-section-iphone{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-watch:hover~ .hover-section-watch{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-vision:hover~ .hover-section-vision{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-airpods:hover~ .hover-section-airpods{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-tv:hover~ .hover-section-tv{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-entm:hover~ .hover-section-entm{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-access:hover~ .hover-section-access{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-support:hover~ .hover-section-support{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 
   .nav-txt-cart:hover~ .hover-section-cart{
      height: 350px;
      visibility: visible;
      opacity: 1;
 }
 .head{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;
 /*border: 2px solid yellow;*/
  padding: 70px 70px 3px 70px;
  margin: 5px;
 }
 .p{
  text-align: center;
  border: 1px;
  padding: 0px 3px 3px 3px;
 }
 .button{
  text-align: center;
  padding: 5px;
 }
 #btn1{
  text-align: center;
  padding: 4px;
  border-radius: 250px;
  color: white;
  background-color: rgb(20, 93, 177);
  font-style: normal;
  width: 120px;
  height: 50px;
  

 }
 #btn2{
  text-align: center;
  background-color: black;
  border: 2px solid lightskyblue;
  border-radius: 20px;
  font-style: normal;
  color: lightskyblue;
  width: 80px;
  height: 40px;
 }
 .iamge{
  background-image: url(./images/pexels-japy-4071887\ \(1\).jpg);
  width: 100%;
  height: 90%;
  background-size: cover;
 }
 .image2{
  background-image: url(./images/pexels-vie-studio-8148581.jpg);
  width: 100%;
  height: 90%;
  background-size: cover;
 }
 
 
